#contact__mainSection {
  background-color:#fcfcfc;

  margin-top:98px;
  margin-bottom:52px;
}
.contact__descriptionBelowDonate {
  width:45%;
  color:#989898;
  margin-top:0px;
  margin-bottom:60px;
  font-size:1.08em;
  line-height:1.62;
}
#landingForm__sentConfirm {
  width:100%;
  text-align:center;
  margin-top:18px;
  margin-bottom:-18px;
  color:#8db8a2 !important;
}
#landingForm__notSent {
  /* width:100%; */
  /* text-align:center; */
  margin-top:25px;
  margin-bottom:-5px;
  color:#dc7269 !important;
}
.landing__formBottomMessages {


}
.terms__descriptionBelowDonate {
  width:40%;
  color:#989898;
  margin-top:0px;
  margin-bottom:60px;
  font-size:1.08em;
  line-height:1.62;
}
