#home__recentOrdersTitle {
  font-size:1.2em;
  text-transform:none;
  margin-top:10px;
  position:relative;
  top:6px;
  margin-left:9px;
}
#home__recentOrdersTitleSide {
  font-size:1.2em;
  text-transform:none;
  margin-top:10px;
  position:relative;
  top:6px;
  margin-left:9px;
  font-weight:400;
}
.home__topTitleSpacing {
  height:7px;
  display:block;
}
#home__ordersImage {
  border-radius:12px;
  box-shadow: 0px 0px 5px #cecece;
  position:relative;
  top:18px;
  margin-bottom:18px;
  width:55px;
  float:left;
}
.home__compatButton {
  float:right;
}
.home__compatText {
  float:left;
  margin-top:25px;
  margin-left:20px;

}
.home__compatTitle {
  transition:0.4s;
  margin-bottom:2px;
  font-size:0.95em;
  color:#333 !important;
}
.home__compatTitle:hover {
  transition:0.4s;
  color:#84af96;
  cursor:pointer;

}
.home__compatAllProd {
font-size:0.9em;
margin-top:3px;
}
.home__indvCompat {
  margin-left:12px;
  clear:both;
  margin-bottom:30px;
}
.home__compatSearchBarDiv {
width:100%;
margin-bottom:8px;
display:flex;
margin-top:3px;
}
.home__compatSearchBar {
  border:none;
  border-radius:34px;
  height:46px;
  width:53%;
  text-align:center;
  font-size:0.91em;
  padding-left:40px;
  padding-right:40px;
  border:1px solid #eee;
  color:#777 !important;
  margin-left:auto;
  margin-right:auto;
}
.home__compatSearchBar:focus {
  border:1px solid #ddd !important;
  color:#777 !important;
}
.home__compatSearchBar::placeholder {
  color:#999 !important;
}
.home__compatibleMarketplacesNum {
  color:#b5b5b5;
  font-size:0.88em;
  font-weight:500;

  margin-right:20px;
  margin:auto;
  position:relative;
  top:0px;
  width:100%;
  text-align:center;
}
#home__compatScroll {
  overflow-x:hidden;
  overflow-y:scroll;
  height:325px;
}
#home__compatScroll::-webkit-scrollbar {
  display: none;
}
.home__goToButton {
  /* background-color:#002D70; */
  background-color:transparent;
  border:2px solid #a9dbc0;
  color:#fff;
  background-color: #a9dbc0;
  /* font-family: 'Red Hat Display', sans-serif; */
  /* font-weight:bold; */
  letter-spacing:0.02em;
  font-size:0.98em;
  border-radius:25px;
  /* margin-right:5px;
  margin-top:23px; */
  margin-top:8px;
  cursor:pointer;
  transition:0.4s;
  height:43px;
  width:100px;
  text-align:center;
  display:flex;
  flex-direction: column;
  padding-top:11px;
  padding-left:0px;

  letter-spacing:-0.02em;
  font-weight:500;
}
.home__goToButton:hover {
  background-color: #dddddd;
  border-color:#ddd;
  transition:0.4s;
  text-decoration:none;
  color:#fff;
}
.home__topRankedGoodTitleLeft {

  float:left;
  margin-left:17px;
  margin-top:12px;
  /* margin-left:-155px;
  margin-right:50px;
  margin-top:-6px; */
}
.home__topRankedGoodTitleLeft2 {
  /* margin-left:-139px;
  margin-top:-6px; */
}
.home__reduceSpacingTopRanked {
  margin-top:-27px;
}
#home__rankedImage {
  border-radius:12px;
  box-shadow: 0px 0px 5px #cecece;
  margin-top:8px;
  margin-bottom:15px;
  width:55px;
  height:55px;
  float:left;
  margin-left:4px;
}
.home__betweenRanksSpacing {
  display:block;
  clear:both;
}
.topRanked__mainContainer {
  display:flex;
  flex-direction:row;
  width:100%;
}
.topRanked__leftContainer {
  width:100%;
  overflow-y: scroll;
  height:270px;
}
.topRanked__rightContainer {
  width:100%;
  overflow-y: scroll;
  overflow-y: scroll;
  height:270px;
}
.topRanked__bottomCardHeight {
  display:block;
  height:6px;
}
.home__topRankedSmallerText {
  font-size:0.94em;
}
.home__topRankedKG {
  font-size:0.8em;
  margin-left:2px;
}
.home__dataWarning {
  font-size:0.85em;
  line-height:1.5;
  opacity:0.65;
  width:93%;
  margin-left:auto;
  margin-right:auto;
  margin-top:25px;
}
.home__dataWarningLink {
  color:#a9dbc0;
  transition:0.5s;
  opacity:1;
}
.home__dataWarningLink:hover {
  color:#bbb;
  transition:0.5s;
}
#savedList__mainContainer {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  /* background-color:red; */

  height:253px;
  overflow-y:scroll;
  margin-bottom:10px;
}
#savedList__mainContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#savedList__mainContainer {
  -ms-overflow-style: none;
}
.home__listCheckboxes {
  float:left;
  margin-right:18px;
  margin-left:10px;
  margin-top:-5px;
}
.home__smallerTextInput {
  border:none;
  font-size:0.9em;
  margin-top:0px;

  width:20vw;

  background-color:transparent;
}
.home__smallerTextInput:focus {
  outline: none;
}
.home__topInputLists {
  border:none;
  background-color:transparent;
  /* background-color:red; */
}
.home__topInputLists {
  outline: none;
}
.home__topListsRightEl {
  float:left;
  width:30%;
}
.savedList__mainRow {
   background-color:blue;
  width:100%;
  margin-top:-5px;
  clear:both;
}
.home__betweenListsSpacing {
  display:block;
  clear:both;
  height:12px;
}
.home__listsCheckboxColour {
  background-color:#a9dbc0;
}
.home__addListButtonPositioning {

  text-align:center;

}
.home__newItemButton {
  /* background-color:#002D70; */
  background-color:transparent;
  border:2px solid #a9dbc0;
  color:#fff !important;
  background-color: #a9dbc0;
  /* font-family: 'Red Hat Display', sans-serif; */
  /* font-weight:bold; */
  letter-spacing:0.02em;
  font-size:0.98em;
  border-radius:25px;
  /* margin-right:5px;
  margin-top:23px; */
  margin-top:-8px;
  cursor:pointer;
  transition:0.4s;
  height:47px;


  width:48%;

  margin-bottom:15px;


  text-align:center;
  display:inline-flex;
  flex-direction: column;
  padding-top:13px;
  padding-left:3px;

  letter-spacing:-0.02em;
  font-weight:500;

  user-select: none;
       -moz-user-select: none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -o-user-select: none;
}
.home__newItemButton:hover {
  background-color: #dddddd;
  border-color:#ddd;
  transition:0.4s;
  text-decoration:none;
  color:#fff;
}
.savedList__draggableDiv {
  width:100%;
  z-index:20;
  background-color:blue;
}
.home__topListsIconRight {
  float:right;
  margin-right:10px;
  margin-top:15px;
}
.home__topListsDragSide {
  width:25px;
  height:25px;
  float:left;
  margin-right:14px;
  /* background-color:blue; */
  text-align:center;

}
.home__topListsXSide {
  float:left;
  color:#e05645;

}
#drag1 {

}
.homepage__firstBasicHeight {
  height:373px;
}
.homepage__firstBoxSecondTitle {
  margin-top:8px;
  width:100%;
  text-align:center;
  font-size:0.925em;

  font-weight:700;
  letter-spacing:-0.01em;
  margin-bottom:0px;
  /* color:#939797; */
  color:#8db8a2;
  opacity:0.8;
  font-family: "Poppins", sans-serif;
  height:6px;
}
.homepage__firstSectionMargins {
  width:94%;
  margin-left:auto;
  margin-right:auto;
}
#home__inputListsHover {
color:#444 !important;
font-weight:600;
}
#home__inputListsHover:active {
color:#444 !important;
}
#home__inputListsHover::select {
color:#444 !important;
}
#home__inputListsHover:focus {
color:#444 !important;
}
#home__inputListsHover::selection {
    color: #fff !important;
}
#home__inputListsHover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a1a1a1 !important;
  opacity: 1; /* Firefox */
}
#home__textAreaPlaceholderStyling::placeholder {
  color:#afafaf !important;
}
#home__notification {
  background-color:rgba(160, 209, 186, 0.92);
  /* height:40px;
  width:80%;
  display:block; */
}
#home__notification:hover {
  color:#fff !important;
  /* height:40px;
  width:80%;
  display:block; */
}
.home__shoppingListExplanation {
  clear:both;
  width:100%;
  color:#b5b5b5;
  font-family: "Poppins", sans-serif;
  display:block;
  margin-left:1px;
  font-size:0.95em;
  margin-top:-13px;
  text-align:center;
  cursor:pointer;
  transition:0.9s;
  transition-delay:1s;
  height:20px;
  margin-bottom:4px;
}
.home__shoppingListExplanation:hover .analytics__descriptionText {
text-decoration: line-through;
transition:0.9s;
}
.home__shoppingListExplanation:hover .analytics__positionDescriptionCheck {
display:inline-block;
}
.home__pageLabel {
  position:absolute;
  top:17px;
  right:18px;
  color:#8db8a2;
  font-size:1.04em;
  cursor:pointer;
  transition:0.4s;
  transition-delay:0.2s;
  z-index:10;
  opacity:0.97;
}
.home__pageLabel:hover {
  opacity:0.65;
  transition:0.4s;
}
.home__pageLabelText {
  float:left;
  font-weight:600;
  margin-right:4px;
}
.home__pageLabelIcon {
  float:left;
  position:relative;
  top:-2px;
}
.home__offsetsMainTitle {
  font-size:1.75em;
  font-weight:bold;
  width:100%;
  text-align:center;
  position:relative;
  margin-top:14px;
  margin-bottom:-11px;
}
.home__topRightArrow {

  position:absolute;
  width:95px;
  height:95px;
  z-index:100000;
  top:22px;
  right:-15%;

  background-color:rgba(255,255,255,0.5);

  -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.home__tourBackground {
  background-color:rgba(0, 0, 0, 0.5)
}
.home__tourClass {

}
.home__positionLoadingIcon {
  position:fixed !important;
  left:55%;

  top:45%;

  margin-left:auto;
  margin-right:auto;
  

  /* width:100vw;
  height:100vh; */



}
