#landing__navBackground {
   position:static !important;
   background-color:transparent;

  /* background-color:rgba(137, 173, 154);
  height:50px;
  width:100vw; */
}
/* #home {
  position:relative;
  background-color:transparent !important;
}
.posStatic {
/* position:relative !important; */ /*
background-color:transparent !important;
} */
.landing__navbarTopLogo {
  width:30px;
  position:relative;
  top:-8px;
}
.landingPage__backgroundLogo {
  width:390px;
  position:relative;
  top:-60px;
  left:-20px;
}
.landingPage__description {
  font-size:1.38em;
  width:380px;
  position:relative;
  top:4px;
  line-height:1.61;
  margin-bottom:-13px;

}
#landingPage__mainLogoText {
  font-size:6.1em;
  margin-bottom:4px;
  letter-spacing:-0.01em;
}
#landing__howItWorks {
  background-color:#fcfcfc;

  display:flex;
  flex-direction:row;

  margin-top:89px;
  margin-bottom:190px;
}
#landing__howItWorks2 {
  background-color:#fff;

  display:flex;
  flex-direction:row;

  margin-top:-10px;
  padding-bottom:94px;
  position:relative;
  z-index:5;
}
#landing__awesomeFeaturesSecondContainer {
  background-color:#f9f9f9;
  display:flex;
  flex-direction:row;
  align-items:center;

  width:100%;
  padding-left:5%;
  padding-right:5%;
  margin:auto;

  margin-top:92px;
  margin-bottom:95px;
}
#landing__awesomeFeaturesSecondContainer2 {
  background-color:#f9f9f9;
  display:flex;
  flex-direction:row;
  align-items:center;

  width:100%;
  padding-left:5%;
  padding-right:5%;
  margin:auto;

  margin-top:92px;
  margin-bottom:95px;
}
#landing__allFeatures {
  background-color:#fcfcfc;

  /* background-color:red; */



  width:92%;
  margin:auto;

  margin-top:92px;
  margin-bottom:95px;


}
.landing__centerMiddleTitle {
  /* text-align:center; */
  /* width:250px; */
  margin:auto;

  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.landing__centerAllFeatureSection {
  display:flex;
  flex-direction:row;
  align-items:center;
}
#landing__howItWorks3 {
  background-color:#fff;

  display:flex;
  flex-direction:row;

  padding-top:90px;
  padding-bottom:98px;
  position:relative;
  z-index:5;
}
.landing__howItWorks__leftSide {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transform: translateX(20%);
  -webkit-transform: translateX(20%);

}
.landing__howItWorks__leftSideLeft {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.landing__howItWorks__leftSideLeftHeader {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.landing__howItWorksLeftSideContainer {
  position:relative;
  left:15%;

  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.landing__howItWorksLeftSideContainer2 {
  position:relative;
  /* left:15%; */
  left:38%;

  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.landing__howItWorksSubtitle {
  color:#8db8a2;
  font-size:1.05em;
  margin-bottom:-4px;
  letter-spacing:0.01em;
}
.landing__howItWorksSubtitle2 {
  color:#95b0c2;
  font-size:1.05em;
  margin-bottom:-4px;
  letter-spacing:0.01em;
}
.landing__howItWorksSubtitle4 {
  color:#bba3d5;
  font-size:1.05em;
  margin-bottom:-4px;
  letter-spacing:0.01em;
}
.landing__howItWorksSubtitle5 {
  color:#8fc29f;
  font-size:1.05em;
  margin-bottom:-4px;
  letter-spacing:0.01em;
}
.landing__howItWorksSubtitle3 {
  color:#dcab93;
  font-size:1.05em;
  margin-bottom:-4px;
  letter-spacing:0.01em;
}

.landing__howItWorksMainTitle {
  font-size:2.2em;
  font-family: "Poppins", sans-serif;
  font-weight:bold;
  letter-spacing:-0.02em;
  color:#333;
  margin-bottom:25px;
}
.landing__howItWorksFirstContainerSelected {
  margin-bottom:19px;
  color:#8db8a2;

}
.landing__howItWorksFirstContainer {
  margin-bottom:19px;
  color:#c7c7c7;
  cursor:pointer;
}
.landing__howItWorksFirstPoint {
  font-size:1.25em;
  font-weight:bold;
  letter-spacing:0em;
}
.landing__howItWorksDescription {
  font-size:0.99em;
  margin-top:5px;
  width:39%;
  line-height:1.45;
}
.landing__howItWorksVideoContainer {
  width:95%;
  height:400px;
    margin-left:-10%;
    position:relative;
    top:20px;
 /* background-color:blue; */
}

.landing__howItWorksVideoContainer2 {
  width:105%;
  height:390px;
  position:relative;
  top:20px;

  /* background-color:blue; */
  text-align:center;

}
.landing__howItWorksVideo {
  height:440px;

  transform: translateX(20%);
  -webkit-transform: translateX(20%);

  /* -webkit-box-shadow: -3px 3px 5px #eee;
  -moz-box-shadow: -3px 3px 5px #eee;
  box-shadow: -3px 2px 5px #eee; */

}
.landing__howItWorksVideoRight {
  height:440px;

  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.landing__topDiv {
  background-color:#fcfcfc;
  margin-bottom:-50px;
}
.landing__compatibleMarketplacesSection {

}
.landing__compatibleMarketplacesBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.landing__ourStasContainingDiv {
  margin-top:-47px;
  margin-bottom:19px;
}
.landing__ourStatsSubtitle3 {
  color:#d9d9d9;
  font-size:1.05em;
  margin-bottom:-5px;

}
.landing__ourStatsMainTitle {
  font-size:2.38em;
  font-family: "Poppins", sans-serif;
  font-weight:bold;
  letter-spacing:-0.01em;
  color:#fafafa;
  margin-bottom:25px;
}
.landing__compatibleMarketplacesPositioningCircle {

}
#landing__compatibleImage {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #afafaf;
  margin-top:-218px;
  margin-left:60px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
#landing__compatibleImage2 {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #afafaf;
  margin-top:-38px;
  margin-left:170px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
#landing__compatibleImage3 {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #afafaf;
  margin-top:-78px;
  right:220px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
#landing__compatibleImage4 {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #afafaf;
  margin-top:-208px;
  right:60px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
#landing__compatibleImage5 {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #afafaf;
  margin-top:-208px;
  right:60px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
#landing__compatibleImage6 {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #afafaf;
  margin-top:-208px;
  right:60px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
#landing__compatibleImage7 {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #afafaf;
  margin-top:-238px;
  left:600px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
#landing__compatibleImage9 {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #aaa;
  margin-top:-208px;
  left:330px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
#landing__compatibleImage10 {
  position:absolute;
  border-radius:50%;
  box-shadow: -1px 1px 20px #afafaf;
  margin-top:-208px;
  right:370px;
  margin-bottom:15px;
  width:67px;
  /* height:55px; */
}
.landing__howItWorksMainTitle {

}
.landing__awesomeFeaturesText {
  width:45%;
  color:#a1a1a1;
  line-height:1.6;
  margin-top:0px;
  font-size:1.17em;
  letter-spacing:0em;
  word-spacing:0.01em;
}
.landing__awesomeFeaturesText2 {
  width:59%;
  color:#a1a1a1;
  line-height:1.6;
  margin-top:0px;
  font-size:1.17em;
  letter-spacing:0em;
  word-spacing:0.01em;
}
.landing__teamDesText {
  width:64%;
  color:#a4a4a4;
  line-height:1.6;
  margin-top:0px;
  font-size:1.04em;
  letter-spacing:0em;
  word-spacing:0.01em;
}
.landing__statsSection {
  background-color:#fcfcfc;


  /* display:flex;
  flex-direction:row; */
}
.landing__ourStatsBottom {
  display:flex;
  flex-direction:column;

  position:relative;
  align-items:center;

}
.landing__ourStasContainingDiv {
  margin-top:-103px;
  display:inline-block;
  margin-bottom:20px;
}
.landing__ourStasContainingDivReach {
  margin-top:-23px;
  display:inline-block;
  margin-bottom:20px;
}
.landing__ourStatsSubtitleAc {
  color:#d9d9d9;
  font-size:1.03em;
  margin-bottom:-5px;
}
.landing__ourStatsMainTitleAc {
  font-size:2.6em;
  font-family: "Poppins", sans-serif;
  font-weight:bold;
  letter-spacing:-0.01em;
  color:#fafafa;
  margin-bottom:25px;
}
.landing__ourStatsNumber {
  margin-right:-27px;
}
.landing__ourStatsNumber2 {
  margin-right:-5px;
}
.landing__ourStatsNumber3 {
  margin-right:9px;
}
.landing__ourStatsNumber4 {
  margin-right:-8px;
}
.landing__treeIcon {
  color:#fcfcfc;
  margin-bottom:12px;
  font-size:1.8em;
}
.landing__statsSmall2 {
  font-size:0.6em;
  position:relative;
  top:2px;
  left:1px;
}
.landing__ourTeamHeader {
  position:relative;
  left:50px;
  margin-top:-98px;
}
#team {
  background-color:#fcfcfc !important;
  padding-top:180px;
  position:relative;
  margin-top:-100px;
}
#awards {
  background-color:#fcfcfc !important;
  padding-top:180px;
  position:relative;
  margin-top:0px;
}
#ourTeam {
  display:flex;
  padding-left:10%;
  padding-right:10%;
  width:85%;
  margin:auto;
}
#ourTeam2 {
  display:flex;
  padding-left:10%;
  padding-right:10%;

}
.landing__ourTeamPerson {
  width:250px;
  display:block;
  margin-left:auto;
  margin-right:auto;

  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);

}
.landing__ourTeamsMainTitle {
  font-size:1.82em;
  font-family: "Poppins", sans-serif;
  font-weight:bold;
  letter-spacing:-0.02em;
  color:#333;
  margin-bottom:25px;
  margin-top:2px;
}
.landing__ourTeamPersonContainer {
  width:100%;
  /* background-color:red; */
  align-items:center;
  /* display:flex;
  flex-direction:column;
  text-align:center; */
}
.landing__ourTeamSpacing {
  display:block;
  height:60px;
}
.landing__ourTeamLeftSideContainer {
  /* width:100%; */
  /* display:flex;
  flex-direction:column;
  */
  display:inline-block;
  margin: 0 auto;
  width:80%;
  height:90%;
  position:relative;

  background-color:red;
}
.landing__ourTeam__leftSide {
  width:100%;
  display: inline-flex;
  flex-direction:column;
  justify-content: center;
margin-left:auto;
margin-right:auto;

position:relative;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center; */
  background-color:blue;
  margin: 0 auto;

}
.landing__ourTeamLeftSideContainer2 {
  position: absolute;
 top: 50%;
 left: 50%;
 width:auto;
 display:inline;
}
#landing__getAppTitle {
  font-size:2.38em;
  font-family: "Poppins", sans-serif;
  font-weight:bold;
  letter-spacing:-0.01em;
  word-spacing:0.04em;
  color:#fcfcfc;
  margin-bottom:25px;
}
.landing__tryItNowImage {
  width:430px;
  max-height: 300px !important;

  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.landing__downloadDescription {
  color:#ddd;
  font-size:1.06em;
  margin-left:2px;
  margin-top:-9px;
}
#landing__positioningBottomInstallBtn {
  margin-top:-20px;
  border:none !important;
  border-color:transparent;
}
#landing__positioningBottomInstallBtnUp {
  margin-top:30px;
  position:relative;
  border:none !important;
  border-color:transparent;
}
.landing__installBackground {
  background-color:#7d9e7d !important;
  border-radius:40px !important;
  padding-top:17px !important;
  padding-bottom:17px !important;
  padding-right:37px !important;
}
#landingPage__chromeStoreButtonText {
  line-height:1.28;
  font-weight:400;
  color:#92c2a7;
  letter-spacing:-0.01em !important;
}
.landing__bottomButtonAvailable {
  letter-spacing:0.01em;

}
#landingPage__chromeStoreButtonText:hover {
  color:#92c2a7 !important; /* #936CE7 */
}
#landingPage__chromeStoreButtonTextUp {
  line-height:1.32;
  font-weight:400;
  clear:both !important;

  color:#92c2a7;
  letter-spacing:-0.01em !important;
}
#landing__positionRightDownloadSection {
  display:flex;
  flex-direction:column;

margin-top:auto;
margin-bottom:auto;
}
.landing__downloadImageLeft {
  width:100%;
  display:flex;
  justify-content:center;
}
.landing__downloadTextRight {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;

  transform: translateX(20%);
  -webkit-transform: translateX(20%);

}
.landing__downloadSection {
  display:flex;
  margin-top:-106px;

}
.landing__downloadSectionTopContainer {
  margin-top:195px;
}
.landing__downloadChromeIcon {
  color:#92c2a7; /* #936CE7; */
  font-size:2.03em;
  margin-right:16px;
}
#landing__footerWhiteText {
  color:#888;
  font-size:0.85em;
}
#landing__footerCopyrightContainer {
  float:right;
  position:relative;
  right:2.5%;
}
.landing__footerPageLinks {
  float:left;
  position:relative;
  left:2.5%;
}
.footer__left {
 float:left;
 margin-right:5%;
 width:30%;

 transform: translateX(-20%);
 -webkit-transform: translateX(-20%);
}
.footer_tagline {
  color:#86b890;
  margin-top:10px;
  width:80%;
}
.landing__individualPageLinks {
  clear:both;
  margin-right:20px;
  letter-spacing:-0.01em;
  // color:#333 !important;

  cursor:pointer;
  transition:0.6s;
  margin-bottom:10px;
  color:#fff !important;
}
.landing__individualPageLinksText {
  color:#86b89b !important;

  opacity:0.9;
}
.landing__individualPageLinks:hover {
  opacity:0.5;
  transition:0.6s;
}
.footer_mainLogo {
  font-weight:bold;
  font-size:1.37em;
  color:#86b890;
  margin-top:45px;
}
.landing__footerLogo {
  width:22px;
  margin-top:46px;
  margin-right:4px;
  position:relative;

  float:left;
  // top:20px;
  margin-bottom:-5px;
  // display:block;
  // margin-left:auto;
  // margin-right:auto;
}
.footer__linkSection {
  float:left;
  margin-right:50px;
}
.footer__copyRight {
  color:#aaa;
  margin-top:10px;
  font-size:0.84em;
}
.footer__linkSectionTitle {
  color:#86b89b;
  font-weight:bold;
  margin-top:46px;
  margin-bottom:10px;
}
.landing__individualPageLink {

}
.footer__linksContainer {
  width:93%;
  margin:auto;
}
#footer {
  z-index:10;
  position:relative;
  margin-top:-110px;
  bottom:0px;

background-color:#fafafa;
  margin-bottom:-100px;
  height:255px;

  // footerBackground
  //
  // background-image: url("../assets/img/landing/footerBackground.jpg");
  // background: #64947d;
  // background: -webkit-linear-gradient(to left, #64947d, #b5dec9);
  // background: -webkit-linear-gradient(right, #64947d, #b5dec9);
  // background: -webkit-gradient(linear, right top, left top, from(#b5dec9), to(#64947d));
  // background: -o-linear-gradient(right, #64947d, #b5dec9);
  // background: linear-gradient(to left, #64947d, #b5dec9);

  /* background-color:#fcfcfc !important; */
}

#landing__positioningTopAddButton {
  position:relative;
  top:45px;
}
.landing__homeIconTop {
  font-size:1.02em;
  margin-left:6px;
  margin-top:-4px;
}
#landing__topLoginButton {
  float:left;
  float:left;
  display:block;
  color:#fff;
  padding-left:0px;
  padding-right:0px;
  margin-left:25px;
  margin-right:24px;
  font-size:1.1em;
  border-radius:12px;
  font-weight:600;
  margin-top:-3px;
}
#landing__topLoginButton:hover {
  opacity:0.5;
}
#landing__topSignupButton {
  background-color:#93b5a0;
  color:#fff;

  float:left;
  display:block;

  padding-top:11px;
  padding-bottom:11px;
  padding-left:18px;
  padding-right:18px;
  margin-right:-30px;
  font-size:1.1em;
  border-radius:10px !important;
  font-weight:600 !important;
  margin-top:-5px;
}
#landing__topSignupButton:hover {
background-color:transparent;
opacity:0.5;
}
.landing__homeIconTop2 {
  font-size:1.15em;
  margin-left:8px;
  margin-top:-3px;
}
.landing__homeIconTop2Join {
  font-size:0.96em;
  margin-left:9px;
  margin-top:-3px;
}
.landing__chromeIconTop {
  font-size:1.1em;
  margin-left:6px;
  margin-top:0px;
}
.landing__ourTeamHeader {
  position:relative;
  top:-90px;
  margin:auto;
  width:70%;
  margin-bottom:-35px;

  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;

  /* background-color:red; */
}
.landing__ourTeamSubtitle {
  color:#8db8a2;
  font-size:1.02em;
  margin-bottom:-4px;
  letter-spacing:0.01em;
}
#landing__videoMargins {
  position:relative;
  top:-340px;
  left:10px;
  width:98%;

}
.landing__centerAwards {
display:flex;
margin:auto;
width:80%;
justify-content: center;
/* background-color:red; */
position:relative;
left:60px;
top:-20px;

transform: translateX(20%);
-webkit-transform: translateX(20%);
}
.landing__indAward {
  width:26%;
}
.landing__awardsImageHeight {
  height:60px;
  display:flex;
  flex-direction:column;
}
.landing__awardProvider {
  width:42%;
  margin:auto;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.landing__awardProviderDescription {
  color:#aaa;
  width:80%;
  text-align:center;
  margin:auto;
  margin-top:-4px;
  margin-bottom:20px;
  font-size:0.94em;
}

.landing__awardDescription {
  color:#99c9b0;
  text-align:center;
  margin:auto;
  font-weight: bold;
  width:80%;
  line-height:1.48;
  font-size:1.04em;
}
.landing__chromeStoreDiv {
  background-color:#fff;
  border-radius:6px;
  width:220px;
  position:relative;
  top:-20px;

  -webkit-box-shadow: -3px 3px 14px #8db8a2;
  -moz-box-shadow: -3px 3px 14px #8db8a2;
  box-shadow: -3px 2px 14px #8db8a2;
}
.landing__backgroundImage {
  position:absolute;
  right: 2.5vw;
  top:12%;
  height:110px;
}
.landing__backgroundImage2 {
  position:absolute;
  left: 42.5vw;
  top:50%;
  height:110px !important;
}
.landing__topImageHeader {
  width:120% !important;
  position:relative;
  top:28px;
  margin:auto;
}
.landing__topVideoMargins {
  width:68%;
  /* margin:auto; */
  position:relative;
  /* left:-13%; */
}
.landing__allFeaturesLeft {
  position:absolute;
  left:3%;
  font-size:3.6em;
  color:#99c9b0;
  opacity:0.4;
  margin-top:30vh;
  cursor:pointer;
}
.landing__allFeaturesLeft:hover {
  opacity:0.8;
  transition:0.8s;
}
.landing__allFeaturesRight  {
  position:absolute;
  right:3%;
  font-size:3.6em;
  color:#99c9b0;
  opacity:0.4;
  margin-top:30vh;
  cursor:pointer;
  z-index:50;
  transition:0.8s;
}
.landing__allFeaturesRight:hover  {
  opacity:0.8;
  transition:0.8s;
}
html, body {
    max-width: 100%;
    /* overflow-x: hidden; */
}
.landing__statsSpacing {
  height:140px;
}
.footer__sideImage {
  position:absolute;
  right:0%;
  width:30%;

  margin-bottom:-50px;
}
.footer__sideImageImage {
  height: 400px !important;
  position:relative;
  margin-top:-145px;

  transform: translateX(20%);
  -webkit-transform: translateX(20%);
}
.footer__socialIcon {
  color:#86b89b;
  margin-right:9px;
  font-size:1.2em;
  margin-top:12px;
  margin-bottom:15px;
  cursor:pointer;
  transition:0.6s;
}
.footer__socialIcon:hover {
  opacity:0.2;
  transition:0.6s;
  color:blue;
}
.footer__veryBottomRemoveSpacing {
  display:block;
  margin-bottom:-80px;
}
#home__updatedLink {

  color:#fff;
  border-bottom:1px #fff solid;

  background-color:transparent;
  display:block;
  border-radius:0px;
  box-shadow:none;
  padding:0px;
  padding-bottom:1px;
  margin-top:8px;
  font-size:1.04em;
}
#home__updatedLink:hover {
  opacity:0.5;
}
.landing__mainVideo {
   -webkit-box-shadow: -3px 12px 5px 8px #ddd;
  -moz-box-shadow: -3px 12px 5px 8px #ddd;
  box-shadow: -3px 2px 12px 8px #ddd;
}
.landing__callToActionButton {
padding-left:28px;
padding-right:28px;
background-color:#fff;
border-radius:30px;
padding-top:17px;
padding-bottom:17px;
cursor:pointer;
position:relative;
top:42px;
// color:#84af96 !important;
font-weight:700;
color:rgba(132, 175, 150, 0.9) !important;
background-color:#fafafa !important;
-webkit-box-shadow: 0px 1px 18px 1px #ddd;
-moz-box-shadow: 0px 1px 18px 1px #ddd;
box-shadow: 0px 1px 18px 1px #7f7f7f;
}
.landing__callToActionButton:hover {
  color:rgba(132, 175, 150, 0.65) !important;
}
.landing__callToActionButton2 {
padding-left:28px;
padding-right:28px;
background-color:#eee;
border-radius:30px;
padding-top:17px;
padding-bottom:17px;
cursor:pointer;
position:relative;
top:27px;
width:325px;
// color:#84af96 !important;
font-weight:700;
display:block;
color:rgba(132, 175, 150, 0.9) !important;

background-color:#fafafa !important;
-webkit-box-shadow: -3px 12px 5px 2px #ddd;
-moz-box-shadow: -3px 12px 5px 2px #ddd;
box-shadow: 0px 0px 11px -1px #888;
}
.landing__callToActionButton2:hover {
  color:rgba(132, 175, 150, 0.65) !important;
}
.landing__productLaunchIcon {
margin-left:12px;
font-size:1.55em;
position:relative;
top:-1px;
}
#landing__ourTeamHeaderText {
  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
#landing__ourAwardsText {
  transform: translateX(20%);
  -webkit-transform: translateX(20%);
}
#landing__imageSlide {
  // position: absolute;
  // width: 100px;
  // height: 100px;
  // background: blue;
  transform: translateX(20%);
  -webkit-transform: translateX(20%);
}
#landingPage__mainLogoText {
  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.landingPage__description {
  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
#landing__mainVideo {
  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
}
.slide-in {
  animation: slide-in 1.2s forwards;
  -webkit-animation: slide-in 1.2s forwards;
}

.slide-in-video {
  animation: slide-in 1.2s forwards;
  -webkit-animation: slide-in 1.2s forwards;
}

.slide-in-text {
  animation: slide-in-text 1.2s forwards;
  -webkit-animation: slide-in-text 1.2s forwards;
}

.slide-in-imageOurData {
  animation: slide-in-imageOurData 1.2s forwards;
  -webkit-animation: slide-in-imageOurData 1.2s forwards;
}

.slide-out {
  animation: slide-out 1.2s forwards;
  -webkit-animation: slide-out 1.2s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-in-video {
  100% { transform: translateX(20%); }
}

@-webkit-keyframes slide-in-video {
  100% { -webkit-transform: translateX(20%); }
}

@keyframes slide-in-text {
  100% { transform: translateX(20%); }
}

@-webkit-keyframes slide-in-text {
  100% { -webkit-transform: translateX(20%); }
}

@keyframes slide-in-imageOurData {
  100% { transform: translateX(40%); }
}

@-webkit-keyframes slide-in-imageOurData {
  100% { -webkit-transform: translateX(40%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}

.compatibleFades {
animation: fadeIn 5s;
-webkit-animation: fadeIn 5s;
-moz-animation: fadeIn 5s;
-o-animation: fadeIn 5s;
-ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
.ourData__howItWorksVideo {
  height:440px;

  transform: translateX(50%);
  -webkit-transform: translateX(50%);

  /* -webkit-box-shadow: -3px 3px 5px #eee;
  -moz-box-shadow: -3px 3px 5px #eee;
  box-shadow: -3px 2px 5px #eee; */

}
