.ourData__ourStatsNumber {
  margin-right:-27px;
}
.ourData__ourStatsNumber2 {
  margin-right:5px;
}
.ourData__ourStatsNumber3 {
  margin-right:14px;
}
.ourData__ourStatsNumber4 {
  margin-right:-18px;
}
.ourData__ourStasContainingDiv {
  margin-top:-97px;
  display:inline-block;
  margin-bottom:20px;
}
#ourData__section {
  margin-top:-20px;
  margin-bottom:30px;

}
.ourData__ourTeamHeader {
  position:relative;
  margin-top:-40px;
  margin:auto;
  width:70%;

  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;

  /* background-color:red; */
}
.ourData__descriptionBelowDonate {
  width:60%;
  color:#989898;
  margin-top:0px;
  margin-bottom:70px;
  font-size:1.08em;
  line-height:1.62;
}
.ourData__donateCentering {
width:50%;
margin:auto;
/* background-color:red; */
}
.ourData__donateFormCentering {
   display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;

}
.ourData__indFormContainer {

}
.ourData__donateSubtitle {
  color:#333;
  font-weight:600;
  letter-spacing:0em;
  font-size:0.98em;
  margin-left:10px;

}
.ourData__donateInput {

border-bottom:2px solid #75c79a;

margin-top:10px;
width:33vw;
background-color:#fcfcfc !important;
color:#828282 !important;
padding-bottom:7px;
padding-left:10px;
padding-right:10px;
margin-bottom:50px;
}
.ourData__donateInput:focus {
border-bottom:2px solid #75c79a !important;
color:#828282 !important;
}
.ourData__donateInput::placeholder {
color:#a6a6a6;
}
.ourData__donateTextarea {
margin-top:10px;
border-bottom:2px solid #75c79a;
width:33vw;
background-color:#fcfcfc !important;
color:#828282;
resize:none;
height:190px;
padding-bottom:7px;
padding-left:8px;
padding-right:8px;
}
.ourData__donateTextarea:focus {
border-bottom:2px solid #75c79a !important;
}
.ourData__donateTextarea::placeholder {
color:#a6a6a6;
}
.ourData__submitButtonPositioning {
  /* width:33vw; */
  margin-top:30px;
}
.ourData__goToButton {
  /* background-color:#002D70; */
  background-color:transparent;
  /* border:2px solid #a9dbc0; */
  color:#fff;
  /* background-color: #a9dbc0; */
  /* font-family: 'Red Hat Display', sans-serif; */
  /* font-weight:bold; */

  background: -webkit-linear-gradient(to left, #95c2a8, #b5dec9);
  background: -webkit-linear-gradient(right, #95c2a8, #b5dec9);
  background: -webkit-gradient(linear, right top, left top, from(#b5dec9), to(#64947d));
  background: -o-linear-gradient(right, #95c2a8, #b5dec9);
  background: linear-gradient(to left, #95c2a8, #b5dec9);

  box-shadow:1px 1px 5px 1px #eee;
  border-radius:12px 25px 30px 30px;

  letter-spacing:0.02em;
  font-size:1.03em;
  /* margin-right:5px;
  margin-top:23px; */
  margin-top:8px;
  cursor:pointer;
  transition:0.4s;
  height:48px;
  width:150px;
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content:center;
  /* padding-top:10px; */
  padding-left:0px;

  letter-spacing:-0.02em;
  font-weight:600;

  transition-delay:2s !important;
}
.ourData__goToButton:hover {
  /* background-color: #dddddd; */
  /* border-color:#ddd; */

  background: #dddddd;
  background: -webkit-linear-gradient(to left, #dddddd, #dddddd);
  background: -webkit-linear-gradient(right, #dddddd, #dddddd);
  background: -webkit-gradient(linear, right top, left top, from(#dddddd), to(#dddddd));
  background: -o-linear-gradient(right, #dddddd, #dddddd);
  background: linear-gradient(to left, #dddddd, #dddddd);

  transition:0.4s;
  text-decoration:none;
  color:#fff;
}
#footer__ourData {
  z-index:10;
  position:relative;

  background-color:#fff !important;
  height:84px;

  /* background-color:#fcfcfc !important; */
}
.ourData__footerLogo {
    width:35px;
    position:relative;
    top:24px;
    /* margin-bottom:-5px; */
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.ourData__howItWorksDescription {
  font-size:0.99em;
  margin-top:5px;
  width:72%;
  line-height:1.45;
}
