.profile__centeringMainCard {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.profile__bottomCenteringRow {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}
.profile__mainCard {
  margin-left:auto;
  margin-right:auto;
  display:inline-flex;
}
#profile__mainImage {
  margin-top:4px;
  margin-left:-13px;
  width:160px;
  height:160px;
  clear:both;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.profile__profileBelow {
  display:flex;
  width:50%;
  /* background-color:blue; */
  margin-left:auto;
  margin-right:auto;
  height:130px;
}
.proilfe__settingssIconPositioning {
  position:absolute;
  top:75px;
  right:35px;
  font-size:1.65em;
  cursor:pointer;
}
.profile__backIconPositioning {
  position:absolute;
  top:75px;
  left:35px;
  font-size:1.65em;
  cursor:pointer;
  z-index:1000;
}
.profile__friendMainContainer {
  display:flex;
  width:84%;
  height:238px;
  /* background-color:red; */
  margin-left:auto;
  margin-right:auto;
}
.profile__friendCard {
  background-color:#fff;
  border-radius:5px;
  height:100%;
  width:100%;
  display:block;
  margin-right:35px;

  -webkit-box-shadow: -3px 3px 8px #f1f1f1;
  -moz-box-shadow: -3px 3px 8px #f1f1f1;
  box-shadow: -3px 2px 8px #f1f1f1;
}
.profile__friendCardRight {
  background-color:#fff;
  border-radius:5px;
  height:100%;
  width:100%;
  display:block;

  -webkit-box-shadow: -3px 3px 8px #f1f1f1;
  -moz-box-shadow: -3px 3px 8px #f1f1f1;
  box-shadow: -3px 2px 8px #f1f1f1;
}
.profile__profileBottomSpacing {
  display:block;
  height:50px;
}
.profile__friendsTitle {
  font-size:1.6em;
  font-weight:bold;
  width:100%;
  text-align:center;
  position:relative;
  top:7px;
  margin-bottom:13px;
}
.profile__bottomCenterImage {
  display:flex;
  flex-direction:column;
  margin-top:20px;
  clear:both;
}
#profile__sideNameBottom {
  font-weight:bold;
  margin-bottom:0px;
  display:inline-block;
  text-align:center;
  font-size:0.9em;
  color:#333;
}
#profile__sideUsernameBottom {
  font-size:0.73em;
  width:100%;
  text-align: center;
  color:#333;
}
.profile__bottomProfileButtons {
  /* background-color:#002D70; */
  background-color:transparent;
  border:2px solid #a9dbc0;
  color:#fff !important;
  background-color: #a9dbc0;
  /* font-family: 'Red Hat Display', sans-serif; */
  /* font-weight:bold; */
  letter-spacing:0.02em;
  font-size:0.9em;
  border-radius:25px;
  /* margin-right:5px;
  margin-top:23px; */

  cursor:pointer;
  transition:0.4s;
  /* height:43px; */
  margin-right:10px;

  height:42px;

  width:42%;
  line-height:1.7;

  margin-bottom:15px;


  text-align:center;
  display:inline-flex;
  flex-direction: column;


  padding-top:8px;

  padding-left:3px;

  letter-spacing:-0.02em;
  font-weight:500;
}
.profile__bottomProfileButtons:hover {
  background-color: #dddddd;
  border-color:#ddd;
  transition:0.4s;
  text-decoration:none;
  color:#fff;
}
.profile__bottomProfileButtons2 {
  margin-right:0px;
}
.profile__positioningBottomButtons {

  width:100%;
  /* background-color:red; */

  text-align:center;
  align-items:center;
  margin-top:20px;
}
.profile__bottomLeftArrowPositioning {
  position:relative;
  margin-bottom:-43px;
  left:-16px;
  top:42%;
  cursor:pointer;
  color:#bababa;
  font-size:2.25em;
}
.profile__bottomRightArrowPositioning {
  position:relative;
  margin-bottom:-23px;
  float:right;
  right:-37px;
  top:42%;
  cursor:pointer;
  color:#bababa;
  font-size:2.25em;
}
.profile__bottomViewProfile {
  position:relative;
  margin-bottom:-17px;
  float:right;
  right:15px;
  top:7px;
  cursor:pointer;
  color:#b1b1b1;
  font-size:1.54em;
}

#profile__mainName {
  font-size:1.42em;
  margin-bottom:3px;
  margin-top:-1px;
  letter-spacing:-0.01em;
}
#profile__mainUsername {
  font-size:0.935em;
}
#profile__mainNameInput {
  font-size:1.35em;
  margin-bottom:-2px;
  margin-top:-1px;
  clear:both;
  background-color:transparent;
  /* border:none; */
  outline: none;
  display:inline-flex;
  text-align:center;

  border-width: 0 0 2px;
border-color:#a9dbc0;

background-color: transparent;
margin-top:30px;
width:30%;
clear:both;
text-align:center;
font-size:1.07em;
letter-spacing:0.02em;
}
#profile__mainNameInput:focus {
  border-color:#dbdbdb;
  transition:0.5s;
}
#profile__mainUsernameInput {
  /* font-size:0.91em; */
  background-color:transparent;
  /* border:none; */
  clear:both;
  padding-left:5px;
  outline: none;
  text-align:center;

  display: block;

  border-width: 0 0 2px;
  border-color:#a9dbc0;

  background-color: transparent;
  margin-top:30px;
  width:30%;
  clear:both;
  text-align:center;
  font-size:1.07em;
  letter-spacing:0.02em;
}
#profile__mainUsernameInput:focus {
  border-color:#dbdbdb;
  transition:0.5s;
}
.profile__settingsTopEditContainer {
display:flex;
flex-direction:column;
width:80%;
margin-left:auto;
margin-right:auto;
align-items:center;

user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;

}
.profile__settingsUsernameContainer {
position: relative;
width:100%;
}
.profile__settingsAtIcon {
font-size:0.88em;
float:left;
}
.input-box { }

/* input { display: block; border: 1px solid #d7d6d6; background: #fff; padding: 10px 10px 10px 20px; width: 195px; } */

.profile__settingsUnit {
  position:relative;
  margin-top:-26px;
  margin-left:-25.5%;
  font-size:0.9em;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#settings__leftArrow {
  position:relative;

  /* margin-top:-20px; */
  margin-right:100px;
  margin-left:-44px;
  color:#a9dbc0;
  font-size:1.32em;
  cursor:pointer;
  transition:0.5s;
}
#settings__leftArrow:hover {
  color:#dbdbdb;
  transition:0.5s;
}
#settings__rightArrow {
  position:relative;

  /* margin-top:5px; */
  color:#a9dbc0;
  font-size:1.32em;
  cursor:pointer;
  transition:0.5s;
}
#settings__rightArrow:hover {
  color:#dbdbdb;
  transition:0.5s;
}
.settings__positionArrows {
  display:inline-flex;
  flex-direction:row;
  margin-left:auto;
  margin-right:auto;
}
.settings__positionArrowsContainer {
  position:absolute;
  width:100%;
  text-align:center;
  /* background-color:red; */
  margin-top:-19px;
}
.profile__positionLogOutButton {

}
.profile__logOutButton {
  /* background-color:#002D70; */
  background-color:transparent;
  border:2px solid #a9dbc0;
  color:#fff !important;
  background-color: #a9dbc0;
  /* font-family: 'Red Hat Display', sans-serif; */
  /* font-weight:bold; */
  font-size:0.95em;
  border-radius:25px;

  /* margin-right:5px;
  margin-top:23px; */

  cursor:pointer;
  transition:0.4s;
  /* height:43px; */
  margin-right:10px;

  height:42px;

  width:32%;
  line-height:1.7;

  margin-bottom:15px;


  text-align:center;
  display:inline-flex;
  flex-direction: column;


  padding-top:8px;

  padding-left:3px;

  letter-spacing:0.01em;
  font-weight:600;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.profile__logOutButton:hover {
  background-color: #dddddd;
  border-color:#ddd;
  transition:0.4s;
  text-decoration:none;
  color:#fff;
}
.profile__positionLogOutButton {
  margin-top:38px;
  width:100%;
  text-align:center;
}
.profile__progressbarProfile {
  margin-top:-13px;
}
#profile__sideUserName {
  font-size:1.08em;
  position:relative;
  top:-4px;
}
.profile__statsMargins {
  width:48%;
  /* background-color:red; */
  margin:auto;
  margin-top:10px;
  margin-bottom:-36px;
}
.profile__profileRanking {
  position:relative;
  width:100%;
  vertical-align:center;

  left:11px;
  top:41px;
  text-align:center;
  align-items: center;

  font-weight:bold;
  letter-spacing:0em;
  font-size:0.94em;
}
#profile__friendsCentering {
  display:inline-block;
  display:flex;
  justify-content:center;
}
.userProfile__noFriendsRightPointer {
  font-size:6.5em;
  text-align:center;
  margin-top:29px;
  margin-bottom:-17px;
}
.userProfile__submitButton {
/* background-color:#002D70; */
background-color:transparent;
border:2px solid #a9dbc0;
color:#fff;
background-color: #a9dbc0;
/* font-family: 'Red Hat Display', sans-serif; */
/* font-weight:bold; */
letter-spacing:0.02em;
font-size:1.04em;
border-radius:25px;
/* margin-right:5px;
margin-top:23px; */
margin-top:6px;
cursor:pointer;
transition:0.4s;

padding-left:25px;
padding-right:25px;

padding-top:13px;
padding-bottom:13px;


text-align:center;
display:flex;
flex-direction: column;


letter-spacing:-0.02em;
font-weight:500;
}
.userProfile__submitButton:hover {

background-color: #dddddd;
border-color:#ddd;
color:#fff;
transition:0.4s;
}
.notFound__positionButton {
  display:inline-block;
  margin-top:30px;
}
.notFound__positionButton2 {
  display:inline-block;
  position:relative;
  top:17px;
  margin:auto;
  text-align:center;
  display:flex;
  justify-content:center;

}
.userProfile__addButton {
  position:absolute;
/* background-color:#002D70; */
background-color:transparent;
border:2px solid #a9dbc0;
color:#fff;
background-color: #a9dbc0;
/* font-family: 'Red Hat Display', sans-serif; */
/* font-weight:bold; */
letter-spacing:0.02em;
font-size:1.02em;
border-radius:25px;
/* margin-right:5px;
margin-top:23px; */
margin-top:6px;
cursor:pointer;
transition:0.4s;

padding-left:19px;
padding-right:19px;

padding-top:11px;
padding-bottom:11px;


text-align:center;
display:flex;
flex-direction: column;


letter-spacing:-0.02em;
font-weight:500;
}
.userProfile__addButton:hover {

background-color: #dddddd;
border-color:#ddd;
color:#fff;
transition:0.4s;
}
.profile__noUserHeight {
  display:block;
  margin-bottom:-17px;
}
.profile__centerContent {
width:60%;
margin:auto;
text-align:center;
margin-top:-8px;
margin-bottom:-30px;
}
