.settings__centerContent {
width:60%;
margin:auto;
text-align:center;
margin-top:50px;
margin-bottom:77px;
}
.settings__cogsIcon {
  font-size:4.7em;
  margin-bottom:15px;
  color:#84af96;
}
.settings__constructionTitle {
  font-size:1.62em;
  font-weight:bold;
  letter-spacing:-0.02em;
  word-spacing:0.025em;
  margin-bottom:8px;
  line-height:1.28;
  color:#84af96;
}
.settings__constructionMessage {
  font-size:1.07em;
  color:#84af96;
  letter-spacing:0em;
  word-spacing:0.025em;
  margin-top:10px;
}
.instructions__mainListItemFirst  {
  font-size:1.3em;
  font-weight:600;
  letter-spacing:-0.02em;
  word-spacing:0.025em;
  margin-bottom:8px;
  line-height:1.28;
  color:#84af96;
  margin-top:20px;
}
.instructions__mainListItem {
  font-size:1.5em;
  font-weight:bold;
  letter-spacing:-0.02em;
  word-spacing:0.025em;
  margin-bottom:8px;
  line-height:1.28;
  color:#84af96;
  margin-top:20px;

  transform: translateX(20%);
  -webkit-transform: translateX(20%);
}
.click__doneButton {
/* background-color:#002D70; */
/* background-color:transparent; */
/* border:2px solid #a9dbc0; */
color:#fff;
/* background-color: #a9dbc0; */
/* font-family: 'Red Hat Display', sans-serif; */
/* font-weight:bold; */

background: -webkit-linear-gradient(to left, #95c2a8, #b5dec9);
background: -webkit-linear-gradient(right, #95c2a8, #b5dec9);
background: -webkit-gradient(linear, right top, left top, from(#b5dec9), to(#64947d));
background: -o-linear-gradient(right, #95c2a8, #b5dec9);
background: linear-gradient(to left, #95c2a8, #b5dec9);

border-radius:12px 25px 30px 30px;
box-shadow:1px 1px 5px 1px #eee;

letter-spacing:0.02em;
font-size:1.04em;
/* margin-right:5px;
margin-top:23px; */
margin-top:6px;
cursor:pointer;
transition:1s;

padding-left:26px;
padding-right:24px;

padding-top:11px;
padding-bottom:11px;

text-align:center;
display:flex;
flex-direction: column;

letter-spacing:-0.02em;
font-weight:500;

position:relative;
z-index:20;
transition-delay:1s;
}
.click__doneButton:hover {

/* background-color: #dddddd;
border-color:#ddd;
*/
color:#fff;
background: #dddddd;
background: -webkit-linear-gradient(to left, #dddddd, #dddddd);
background: -webkit-linear-gradient(right, #dddddd, #dddddd);
background: -webkit-gradient(linear, right top, left top, from(#dddddd), to(#dddddd));
background: -o-linear-gradient(right, #dddddd, #dddddd);
background: linear-gradient(to left, #dddddd, #dddddd);
transition:1s;
}
.instructions__centerContent {
/* width:60%; */
margin:auto;
text-align:center;
margin-top:20px;
margin-bottom:77px;
}
.instructionsLeftArrow {
  position:absolute;
  left:2%;
  top:49%;
  font-size:1.7em;
  color:#ccc;
  cursor:pointer;
  transition:0.6s;
  z-index:20;
}
.instructionsLeftArrow:hover {
  color:#84af96;
  transition:0.6s;
  opacity:0.85;
}
.instructionsRightArrow {
  position:absolute;
  right:10%;
  top:55%;
  font-size:2.3em;
  color:#ccc;
  cursor:pointer;
  transition:0.6s;
  z-index:20;
}
.instructionsRightArrow:hover {
  color:#84af96;
  transition:0.6s;
  opacity:0.85;
}
.instructions__imageContainer {
  width:50vw;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  left:auto;
  right:auto;
  border-radius:10px;
}
.instructions__image {
  border: 5px solid rgba(132, 175, 150, 0.45);
  border-radius:15px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  transform: translateX(20%);
  -webkit-transform: translateX(20%);
}
.slide-in {
  animation: slide-in 1.2s forwards;
  -webkit-animation: slide-in 1.2s forwards;
}
@keyframes slide-in {
  100% { transform: translateX(0%); }
}
.instructions__image {
  width:100%;
  position:relative;
  margin-top:12px;
}
.instructions__mainDescription {
  color:#aaa;
  font-weight:600;
  margin-top:15px;

  transform: translateX(20%);
  -webkit-transform: translateX(20%);
}
.instructions__mainDescriptionFirst {
  color:#aaa;
  font-weight:600;
  margin-top:15px;
}
.click__topArrow {
  position:absolute;
  width:110px;
  height:110px;
  z-index:100000;
  top:10px;
  right:5%;

  -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
